*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    margin-top: 3vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    height: 100%;
    width: 20%;
    font-size: 2.6vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid #000;
}
#nav h3{
    display: none;
}
#nav h1{
    font-family: Monument;
    height: 100%;
    width: 25%;
    padding-left: 15px;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: Helvetica;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 12%;
    right: 23%;
}
#nav h1::before{
    content: "model management";
    font-family: Helvetica;
    color: #666666;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 17%;
    right: 20%;
}

#nav h2:nth-last-child(1) {
    width: 12%;
    font-size: 3.2vh;
}
#nav h2:nth-last-child(2) {
    width: 27%;
}
#center{
    height: 92%;
    padding: 4vw;
    width: 100%;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2vw;
    padding-top: 3vw;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F8F8F8;
    margin-bottom: 1.6vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3vw;
    line-height: 8vh;
    font-weight: 600;
    letter-spacing: 1.5px;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw;
    border-radius: 50%;
    border: 1px solid #fff;
}
#over2{
    height: 15vh;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F8F8F8;
    border-top: 2px solid #F8F8F8;
    padding: 1vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}
#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding-bottom: 2.7vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container img{
    height: 100%;
    width: 14%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
    margin: 1.3vw;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}
#alphabets{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabets h5{
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
}

#alphabets h6{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    padding: 0.6vw 0.8vw;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabets h6:hover{
    border: 2px solid black;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 46%;
}
#page2-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
}
#page1-bottom {
    width: 100%;
    height: 12vh;
    padding: 3.2vh 0vh;
}
#page1-bottom h2{
    font-family: monument;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: -1px;
}
#page2-part2{
    height: 100%;
    width: 46%;
}
#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}
#page2-bottom{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}
#page2-bottom h4{
    font-size: 1.8vw;
    font-family: Quicksand;
}
#page2-bottom p{
    font-weight: 500;
    font-family:Quicksand;
    font-size: 1.1vw;
    width: 55%;
    height: 100%;
}
#page3{
    height: 100%;
    width: 100%;
    padding: 4vw 4vw 0 4vw;
}
#page3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
    padding-bottom: 1vw;
}
#page4>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin-bottom: 8vh;
}
.elem{
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem:hover{
    background-color: #e5e5e5;
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}
.elem .elem-part2{
    width: 50%;
}
.elem-part2 h1{
    font-size: 2.5vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 0.9w;
    font: 100;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem img{
    position: absolute;
    left: 12%;
    height: 90%;
    width: 7vw;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem:nth-last-child(1) img{
    left: 35%;
}
.elem:nth-last-child(3) img{
    left: 35%;
}
.elem:hover img{
    opacity: 100%;
    left: 23%;
}
#page5{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
    padding-top: 1vw;
}
#page5-part1{
    height: 100%;
    width: 46%;
}
#page5-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
#page5-bottom {
    width: 100%;
    height: 12vh;
    padding: 3.2vh 0vh;
}
#page5-part2{
    height: 100%;
    width: 46%;
}
#page5-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 75%;
}
#page5-bottom{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}
#page5-bottom h4{
    font-size: 1.5vw;
    font-family: Quicksand;
}
#page5-bottom p{
    font-weight: 500;
    font-family:Quicksand;
    font-size: 1.2vw;
    width: 55%;
    height: 100%;
}
#page6{
    height: 100%;
    width: 100%;
    padding: 2vw 4vw 4vw 4vw;
}
#page6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#marque{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    animation-timing-function: linear;
}
#marque h1{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 3px black;
    color: transparent;
    padding: 0.8vw;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
#page7{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 5vw;
    padding-bottom: 7vw;
}
#page7-part1{
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw 0;
    padding-bottom: 0;
    gap: 2vw;
}
#page7-part1 p{
    font-size: 1.3vw;
    font-weight: 500;
    font-family: Quicksand;
}
#page7-part1 img{
    margin-top: 2vh;
    height: 70%;
    width: 100%;
    background-image: cover;
}
#page7-part2{
    height: 100%;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw 0;
    padding-bottom: 0;
    gap: 1.5vw;
}
#page7-part2 p{
    font-size: 1.3vw;
    font-weight: 500;
    font-family: Quicksand;
}
#page7-part2 img{
    height: 90%;
    width: 100%;
    background-image: cover;
}
#page7 h1{
    font-family: monument;
    font-size: 2vw;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 45vh;
}
#lastpage{
    height: 40vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#lastpage h1{
    font-family: Monument;
    height: 100%;
    width: 23%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 25vh;
    padding-right: 25px;
    border-right: 2px solid black;
}
#lastpage h1::after{
    content: "©";
    font-family: Helvetica;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 9%;
    right: 29%;
}
#lastpage h1::before{
    content: "model management";
    font-family: Helvetica;
    color: #666666;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 72%;
    right: 14%;
}
#lastpage h2{
    height: 100%;
    width: 22%;
    font-size: 1.5vw;
    letter-spacing: 0.1px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid #000;
    padding: 5vh 0 5vh 0;
}
#lastpage-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    margin-top: 2.7vh;
}
#icons{
    font-size: 1.7vw;
    letter-spacing: 0.2vw;
    padding: 2vh;
}
#lastpage-b h6 {
    font-size: 0.9vw;
    padding-left: 13px;
    padding: 5vh 0 2vh 1vw;
}
@media (max-width : 600px) {
#nav{
    height: 10vh;
}
#nav h2{
    display: none;
}
#nav h1{
    padding-left: 5vw; 
    font-size: 5vw;
}
#nav h1::after{
    font-size: 2.5vh; 
    top: 13%;
    right: -17%;
}
#nav h1::before{
    content: "model management";
    font-family: Helvetica;
    color: #666666;
    font-weight: 500;
    font-size: 3vw;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 24%;
    right: -50%;
}

#nav h2:nth-last-child(1) {
    width: 12%;
    font-size: 3.2vh;
}
#nav h2:nth-last-child(2) {
    width: 27%;
}
#nav h3{
    height: 100%;
    width: 20%;
    font-size: 2.6vh;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
    height: 94%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 99%;
    object-fit: cover;
}
#overlay{
    height: 23%;
    padding: 2.5vw;
    padding-top: 3vw;
}
#over1{
    margin-bottom: 0vw;
}
#over1 h1{
    font-size: 5vw;
    line-height: 4vh;
    letter-spacing: 0.8vw;
}
#over1 h2{
    font-size: 5vw;
    padding: 3vw;
}
#over2{
    height: 5vh;
    padding: 1vw 2vw;
}
#over2 h4{
    font-size: 4vw;
}
#over2 img{
    height: 8vw;
}
#scroll {
    height: 25vh;
    width: 100%;
}
#container{
    width: 270%;
}
#container img{
    width: 15.5%;
}
#alphabets{
    height: 9vh;
}
#alphabets h5{
    font-size: 1.3vw;
}
#alphabets h6{
    font-size: 3vw;
}
#page2{
    height: 60%;
    padding-top: 5vw;
}
#page2-part1 img{
    height: 89%;
}
#page1-bottom {
    height: 12vh;
    padding: 2vh 0vh;
}
#page1-bottom h2{
    font-family: monument;
    font-size: 4vw;
}
#page2-part2 img{
    height: 65%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}
#page2-bottom{
    height: 35%;
}
#page2-bottom h4{
    margin-top: 10%;
    font-size: 3.5vw;
    text-align: center;
}
#page2-bottom p{
    text-align: center;
    font-weight: 600;
    font-size: 2.5vw;
    width: 50%;
}
#page3{
    height: 40%;
    padding: 4vw 4vw 0 4vw;
}
#page4{
    height: 70%;
    padding: 10vw 4vw;
    padding-bottom: 0vw;
}
#page4>h1{
    font-size: 5vw;
    margin-bottom: 5vh;
}
.elem{
    height: 12vh;
    width: 100%;
    padding: 0 2vw;
}
.elem h4{
    font-size: 3vw;
    width: 6%;
}
.elem .elem-part2{
    width: 50%;
}
.elem-part2 h1{
    font-size: 4.5vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 3vw;
    font-weight: 500;
}
.elem img{
    position: absolute;
    left: 8%;
    width: 20vw;
}
.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:hover img{
    left: 23%;
}
#page5{
    height: 70%;
    padding-top: 0vw;
}
#page5-part1 img{
    height: 89%;
}
#page5-bottom {
    height: 12vh;
    padding: 3.2vh 0vh;
}
#page5-part2{
    width: 46%;
}
#page5-part2 img{
    height: 45%;
}
#page5-bottom{
    height: 50%;
    padding-top: 0vw;
}
#page5-bottom h4{
    font-size: 3.5vw;
    text-align: center;
}
#page5-bottom p{
    text-align: center;
    font-size: 3.5vw;
}
#page6{
    height: 30%;
    width: 100%;
    padding: 0vw 4vw 4vw 4vw;
}
#marque{
    width: 100%;
}
#page7{
    height: 50%;
    width: 100%;
    padding: 4vw 2vw;
    padding-bottom: 0vw;
}
#page7-part1{
    height: 100%;
    width: 40%;
    padding: 0vw 0;
}
#page7-part1 p{
    font-size: 3.4vw;
}
#page7-part1 img{
    margin-top: 0vh;
    height: 30%;
}
#page7-part2{
    padding: 5vw 0;
}
#page7-part2 p{
    font-size: 3.4vw;
}
#page7-part2 img{
    height: 35%;
}
#page7 h1{
    font-size: 4vw;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 25vh;
}
#lastpage h1{
    width: 35%;
    font-size: 5vw;
    padding-right: 1vw;
    padding-bottom: 25vh;
}
#lastpage h1::after{
    font-size: 5vw;
    top: 11%;
    right: 1%;
}
#lastpage h1::before{
    font-size: 2.6vw;
    letter-spacing: 0.1px;
    bottom: 76%;
    right: 1%;
}
#lastpage h2{
    text-align: center;
    width: 27%;
    font-size: 4vw;
    padding: 5vh 0 5vh 0;
}
#icons{
    text-align: center;
    font-size: 4vw;
    padding: 2vh;
}
#lastpage-b h6 {
    text-align: center;
    font-size: 2.6vw;
    padding-left: 2vw;
    padding: 1vh 0 2vh 1vw;
}
}